.header {
  font-family: var(--font-geist-sans), sans-serif;
  background-color: #333;
  padding: 0rem 6rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-transform: none;
}

.nav {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  
  margin: 0 auto;
  width: 100%; /* Ensure full width */
}

.branding {
  display: flex;
  align-items: center;
}

.logoLink {
  display: inline-block;
}

.logo {
  
  padding-left: 0rem;
  transition: transform 0.3s ease;
}

.logo2 {
  border-radius: 50%;
  padding-left: 0rem;
  transition: transform 0.3s ease;
  border: 15px solid rgb(107, 107, 107); /* Adds a grey border */
  box-shadow: 20px 15px 20px rgba(0, 0, 0, 1); /* Adds a shadow */
}

.logo:hover {
  transform: scale(1.1);
}

.navList {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: auto; /* Push nav list to the right */
}

.navItem {
  margin-left: 2rem; /* Space between items */
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  transition: color 0.3s ease;
}

.navItem:hover {
  color: #ff5722;
}

.navList li:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navList {
    flex-direction: column;
    margin-top: 1rem;
    margin-left: 0; /* Remove left margin on smaller screens */
  }

  .navItem {
    margin-left: 0;
    margin-top: 1rem;
  }

  .navItem:first-child {
    margin-top: 0;
  }
}
